<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>5月17日凌晨02:45，17-18赛季欧联杯决赛在法国里昂奥林匹克公园球场进行，马赛对阵马德里竞技。上半场比赛格里兹曼破门，帕耶特伤退，下半场比赛格列兹曼挑射进球梅开二度，米特罗格卢头球中柱，加比进球锦上添花，最终全场比赛结束，马竞3-0战胜马赛。值得一提的是，这是马竞继11-12赛季后，暌违6年后再度问鼎欧联杯。</string>
	<string>这也是马德里竞技队史第31次夺得冠军，他们拿到过10次西甲、10次国王杯、2次西班牙超级杯、1次总统杯、1次杜阿尔特杯、1次优胜者杯、3次欧联杯、2次欧洲超级杯和1次世俱杯。</string>
	<string>自2014年以来，西班牙球队拿到了17个洲际比赛中的16个冠军，只有去年的欧联杯冠军旁落其他国家的俱乐部。如果计算决赛西班牙球队对阵其他国家球队的胜率的话，自2000/01赛季瓦伦西亚点球不敌拜仁之后，西班牙球队就再也没输过外战，他们取得了13连胜的成绩。</string>
	<string>这也是西蒙尼执教马竞以来球队夺得的第6座冠军奖杯，西蒙尼也追平了阿拉贡内斯的纪录，成为了马竞队史上夺冠次数最多的主教练。</string>
	<string>自执教马竞以来，西蒙尼打造的马竞的强硬球风让许多豪门球队头疼，他们出色的防守也让马竞稳定地成为了皇马巴萨之外的西甲第三极。今天凌晨的欧联决赛是西蒙尼执教马竞的第377场比赛，在这377场比赛中，马竞有200场比赛零封对手，不失球概率高达53.1%。</string>
	<string>马竞球员托雷斯在随队夺得欧联杯冠军后表达了自己的感受：“我现在很难用言语形容我的兴奋之情，在多年之后，我重回自己心爱的球队，并且随队拿到冠军，这是许多人都梦想着的事情。身穿马竞球衣的心情我难以言表，我很骄傲成为这支球队的一员。我们应该认为这个冠军是更好的成绩的开始，但也要好好享受这个冠军，无论是在现场的球迷还是在马德里的球迷。在这之后，我还要享受在马竞的最后一场比赛。”</string>
	<string>托雷斯也认为，这个冠军实现了他从小的梦想：“我很幸运，在我的职业生涯中拿到过不少冠军，我在许多强队效力过。但是从感情上来看，这个冠军是意义最大的，因为这是我从小的梦想。当年我离开的时候，我甚至觉得可能再也无法实现这个愿望了。但是正如马竞教给我的那样，只要努力梦想就能实现。我会永远感谢这家俱乐部。”</string>
	<string>北京时间5月11日19:35，中超联赛第10轮先赛一场，北京国安主场对阵广州富力。上半场比赛，巴坎布打破僵局，扎哈维迅速将比分扳平，乌索击中门框，半场战罢，国安1-1富力。易边再战，扎哈维梅开二度，索里亚诺两次中柱，巴坎布随后同样完成梅开二度，最终全场比赛结束，北京国安2-2广州富力。</string>
	<string>北京时间5月12日15:30，中超第10轮长春亚泰主场迎战天津泰达。长半场双方虽互有攻防但均未能改写场上比分；下半场买提江助阿奇姆彭破门制胜。最终比赛结束，天津泰达1-0客胜长春亚泰。</string>
	<string>中超第10轮的一场比赛在贵阳奥林匹克体育中心展开，贵州恒丰1-1上海上港。上半时切里助攻苏亚雷斯为贵州恒丰先拔头筹，随后奥斯卡助攻武磊为上港将比分扳平。下半时贵州恒丰获得点球机会，颜骏凌先是扑出了斯蒂夫主罚的点球然后他又扑出了范云龙的补射，终场前张卫吃到个人第二张黄牌，两黄变一红被罚出场。随后双方再无建树，最终双方战成平手。</string>
	<string>北京时间5月12日晚19:35，中超联赛第10轮，上海绿地申花主场迎战重庆斯威。上半场比赛双方拼抢激烈，卡尔德克头球造险，下半场比赛瓜林任意球破门，丁捷进球迅速将比分扳平，高迪单刀破门，随后吴庆抗议裁判两黄变一红被罚离场，最终全场比赛结束，申花主场2-1战胜重庆。</string>
	<string>中超第10轮的一场比赛在海河教育园体育场展开，天津权健1-1山东鲁能。上半时塔尔德利在禁区中的劲射被张鹭扑出。下半时帕托远射得手为权健打破僵局，金敬道的射门被张鹭扑出，全场比赛最后一分钟王大雷助攻佩莱破门，随后双方再无建树，双方战成平手。</string>
	<string>北京时间5月12日晚间19:35，2018赛季中超联赛第10轮的较量继续展开，广州恒大主场2-2战平河北华夏幸福。上半场，高拉特内切左脚劲射先声夺人，拉维奇晃过金英权低射扳平，埃尔纳内斯劲射反超比分。下半场，拉维奇推射偏出失良机，高拉特冲顶破门扳平比分，王秋明铲射中柱。最终全场战罢，恒大战平华夏幸福，两队各取一分。</string>
	<string>北京时间5月13日19:35，中超联赛第10轮展开最后的较量，江苏苏宁易购主场面对大连一方。上半场比赛，特谢拉击中立柱，半场战罢，苏宁0-0一方。易边再战，黄紫昌打入全场唯一进球，最终全场比赛结束，江苏苏宁易购1-0大连一方。</string>
	<string>2019亚洲杯小组赛抽签已经结束，中国队与韩国、吉尔吉斯斯坦以及菲律宾分在C组。
</string>
	<string>2004-2015年亚洲杯决赛圈一共只有16支球队参加，本届赛事进行了扩军，这将是亚洲杯历史上首次有24支球队参加决赛圈的一届赛事。
</string>
	<string>中国队与韩国、吉尔吉斯斯坦和菲律宾同组，可以说这样的签位是一支上上签，吉尔吉斯斯坦和菲律宾都是首次参赛，而本届赛事总共就只有三个新球队。按照正常实力来讲，中国和韩国以小组前两名携手晋级淘汰赛问题不会太大。</string>
	<string>根据晋级规则，小组单循环赛结束后各组前两名，以及4个成绩最好的小组第3名晋级16强。亚洲杯小组赛如果出现同分球队，排名是先看同分球队之间的交锋记录、净胜球、进球数，如果还分不出来再看同分球队在小组赛阶段整体的净胜球、进球数等。</string>
	<string>国足此前11次亚洲杯有6次闯进四强，上届亚洲杯闯进八强。本届比赛将于明年1月5日正式在阿联酋拉开帷幕！根据维基百科提供的赛程，中国队会在1月7日首先迎来和吉尔吉斯斯坦的比赛，随后第二场对阵菲律宾，最后第三场打老对手韩国队。</string>
	<string>前两场中国队争取取胜，不然生死战对韩国把握就低了，虽说还有四个组最好的第三名额，但那主动权就没有了，况且小组第三要对其他的找组第一，很大可能就止步16强了，总的来说争一保二，最坏的打算是四个成绩最好的小组第三！出线应该不成问题，期待里皮带领下的中国队的表现吧！</string>
	<string>16强预测:巴林，泰国，阿联酉，约但，叙利亚，澳大利亚，中国，韩国，伊拉克，伊朗，朝鲜，卡塔尔，沙特，日本，乌兹别克，越南
</string>
	<string>虽然说是上上签，但是，中国队再出现王燊超那些史诗级停球还怎么打，吉尔吉斯斯坦和菲律宾都难赢</string>
	<string>求大神写写对一脚传球的看法。我遇到的问题是可以一脚传球，但并不是每次都有目的，我一脚分边或者回传连我自己都不知道那样是为了什么，可能外边人看了感觉挺牛逼的，但自己感觉没啥用</string>
	<string>你们有没有每次踢球脑子都特别清楚的那时候，我只有几次。那时候真的是每脚传球都有目的，但更多时候速度一提上来就想不了那么多了，只能安全把球随便交出去，这是个人水平的原因吗？还是我个人水平基本功够了不会用脑子而已？</string>
	<string>一脚传球只是一种踢球方式 不是说一脚传球就等于好球 很多时候可以先停下球 利用这个停顿时间把防守球员吸引过来或者让队友有时间跑位 再把球传出去让接球者获得更大的活动空间 总之多观察周围的形势再用合理的方式处理球是最好的 视野不够就容易盲目的踢球 这一点业余的基本都很欠缺</string>
	<string>不是完全不清醒啦，介于特别清醒和不清醒之间，比如边后卫近距离传给我，我很惯性的一脚给到他前面，有的人却不一定跑，就出界了，弄的情况很尴尬，不好说谁对谁错</string>
	<string>还有如果大场中球在对方中场脚下，我打边后卫基本上也回缩了，对方边前卫突然前插拉边，我要不要跟着他？还是放了他就算给他传球过去我再防也可以。那哥们也就是没人防能接住长传的水平</string>
	<string>今年又是一个足球狂欢年，6月是巴西世界杯越来越近，想弄个帖子纪念一下过去的世界杯，持续更新，整理较慢·····</string>
	<string>2010年7月11日，西班牙队以六胜一负的成绩获得了2010年南非世界杯冠军，成为世界杯历史上第八支冠军球队。西班牙足球登上了世界的巅峰。</string>
	<string>在赛后，没有人再提起蒙塔里和弗兰的精彩进球，几乎所有媒体一致用“苏亚雷斯红牌救主”这样看似矛盾的标题概括本场比赛，然而这就是事实。没有苏亚雷斯这次“上帝之手”，人们将错过一场天堂到地狱瞬间互换的好戏。稳健的点球手吉安，这次却鬼使神差的将球射向了横梁。通道内苏亚雷斯由哭泣到狂喜的镜头，除了反差的趣味，更是足球比赛本身的魅力所致。</string>
	<string>即便吉安罚失点球，加纳仍有机会淘汰对手，然而若真如此，这场比赛将没有多少戏剧性可言。几乎所有人都预感到，苏亚雷斯的那次拦网式扑救，仿佛是90分钟并不精彩的前戏终于迎来了高潮。吉安抑制住失望的情绪，在点球大战中罚入了点球，然而他的队友们似乎并没有缓过神。以阿布鲁的勺子点球作结局，大戏完美落幕。</string>
	<string>德国血洗阿根廷
又是一场德国的比赛，然而不同的是，这是一场没有争议而稍感意外的血洗。与前两场比赛相比，本场比赛少了一些戏剧性元素，却在更大程度上还原了一场经典强强对话所应展现出的面貌。德国队在本场比赛中将他们的战术纪律性和整体配合完美呈现，穆勒、克洛泽、厄齐尔等人保持着高度一致的进攻节奏，阿根廷则在高效的对手面前彻底迷失。</string>
	<string>当然本场比赛胜利的一方并不是绝对的主角，拥有马拉多纳和梅西的阿根廷永远都是媒体的焦点。梅西在本场比赛依旧没能取得进球，零进球的成绩离开南非也让人们开始对阿根廷队的阵容打法产生质疑，这自然是马拉多纳的职责所在。面对出色的德国人，执教能力平平的老马在场边显得越发无助。</string>
	<string>就是这一场比赛，10年的那个夏天！让我爱上了梅西，因为梅西爱上了那一身蓝天白云，继而爱上了巴萨，爱上足球。。。。。。</string>
	<string>英德战离奇误判一次错误的判决，毁掉了一场经典的比赛，却又成就了一场经典的比赛，这不是悖论。我们无法假设如果英格兰将比分扳成2-2之后，比赛的最终结果会是怎样，然而事实是，本就表现平平的三狮军团在比分落后的情况下没能上演逆转，反倒被德国队用两个反击彻底击溃。这是一次太糟糕的误判，然而却不能完全被当做比赛的胜负手。</string>
	<string>之所以认为这仍是一场经典的比赛，是因为在比赛后，人们围绕许多深刻的话题展开了探讨，譬如球场道德的界限、电子裁判技术的引入等重大议题，这将对足球运动的发展起到积极的推进作用。除此之外，“英格兰为66年还债”、“兰帕德的广告魔咒”等历史的、趣味的元素，也让这场强强对话拥有了足够的谈资。</string>
	<string>世界杯1/4决赛第三场，克洛泽梅开二度后空翻庆祝，现场的广告牌最后两个英文字母很好的诠释了德国锋煞的功绩</string>
	<string>当地时间2010年6月18日，开普敦，阿什利-科尔在防守对方球员时拉扯对方裤子。当天在绿点体育场，英格兰队与阿尔及利亚经过90分钟的鏖战，最终0-0握手言和。</string>
	<string>当地时间2010年6月16日，内尔斯普雷特，智利后卫梅德尔用头争抢皮球。当天在姆博贝拉体育场，在H组第一场比赛中，智利队1-0战胜洪都拉斯。</string>
</array>
</plist>
